body {
    background-color: white;
}

.border {
	width: 500px;
	height: 300px;
	border: 4px ; 
    background: #B8EFC7;
    padding: 10px;

}
p {
	color: black;
}

button {
	background: #D1E0D6;
    

}
input {
	max-width: 100%;
}