body { 
    background: linear-gradient(to right, #7D0CC6 30%,#EB9266);
    background-size:  100%;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

div {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-family: Helvetica, sans-serif;  
    font-size: 450%; 
}

p{ 
    padding: 10px;
    background: white; 
    border: 2px solid blue;
    width: 16%;
    font-size: 150%;
  	display: block;
    margin-left: auto;
    margin-right: auto;
	  text-align: center;
	  box-shadow: 0.4em 0.4em 10px rgb(122,122,122);
	  border-radius: 5px;
}

button{
  margin: 5px;
  width: 70px;
  height: 20px;
  display: inline-block;
}